body {
    font-family: 'Times New Roman', Times, serif;
    height: 65px;
    
    background-image: radial-gradient(circle at 107.92% 9.44%,#45dcf0 0,  #45dcf0 16.67%,  #40f7ed 33.33%, #8af8f3  50%,  #0fcfc6 66.67%,  #40f7ed  83.33%,  #95e7f1 100%);

}
* {
    box-sizing: border-box;
   

}

.contenedor{
    width: 100%;
    padding: 25px;
    
}
#form{
    
    background:  rgb(255, 255, 255);
    position : relative;
    bottom: 0px;
    
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    height: 500px;
    left: 20px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    
}
h1{
    position : relative;
    text-align: center;
    color: #0a3e0d;
    font-size: 50px;
    bottom: -18px;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    
}
.input-conter{
    margin-bottom: 15px;
    border: 3px solid #918d8d;
    border-radius: 10px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.button{
    border: none;
    width: 100%;
    color: white;    
    font-size: 20px;
    background:  #052a5c;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-image: radial-gradient(circle at 107.92% 9.44%, #7918d4 0, #1764f3 16.67%, #2891f3 33.33%, #5099fa 50%, #2891f3 66.67%, #1764f3 83.33%, #7918d4 100%);
    color: #0a2b3e;
}
   
    p{
       font-weight:20;
        position : relative;
    text-align: center;
    bottom: -22px;
}
.link{
    text-decoration: none;
      color: #2130fc;
    font-weight: 600;
    
}
.link:hover{
     color: #2130fc;
}
@media(min-width:768px)
{
    .form{
        margin: auto;
        width: 500px;
        margin-top: 60px;
        border-radius: 5%;
        
        
    }
}

.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
  }

 .imagen-arriba {
   
  width: 350px;
  height: auto;
  margin-bottom: 100px; /* agregar margen inferior de 10 píxeles */
  margin-right: 0; /* reducir la separación horizontal */
}
    
.imagen-abajo {
    width: 250px;
    height: auto;
    margin-left: 1080px; /* mover la imagen de abajo hacia la derecha */
    margin-top: 40px; /* mover la imagen de abajo hacia abajo en 20 píxeles */
}  


.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #000000;
    padding-top: 20px;
    
    }


