
:root{
    --colorTextos:#5e5d5d;;
    font-family: 'Arial';
    
    }
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
.warnings{
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    text-align: center;
    margin: auto;
    color: #ff0000;
    padding-top: 20px 0;
}

    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: radial-gradient(circle at 107.92% 9.44%,#45dcf0 0,  #45dcf0 16.67%,  #40f7ed 33.33%, #8af8f3  50%,  #0fcfc6 66.67%,  #40f7ed  83.33%,  #95e7f1 100%);

    
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
    
    .form{
        font-family: 'Arial';
        position: relative;
        width: 460px;
        min-height: 400px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter:blur(5px);
        box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.8);
        
        border: 1px solid rgba(255,255,255,0.5);
        border-right: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
   
    
    form .grupo{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
    
    }

    .grupo h2{
        font-family: 'Arial';
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
    
    .grupo .inputBox
{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.grupo .inputBox input
{
	width: 100%;
	background: rgba(119, 119, 119, 0.423);
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 35px;
	border: 1px solid rgba(255,255,255,0.5);
 	border-right: 1px solid rgba(255,255,255,0.2);
 	border-bottom: 1px solid rgba(255,255,255,0.2);
 	font-size: 16px;
 	letter-spacing: 1px;
 	color: rgb(0, 0, 0);
 	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


.grupo .inputBox input::placeholder{
    
	color: #666;
}

.grupo .inputBox input[type="submit"]{
    position: relative;
    left: 39px;
	background: rgba(17, 75, 233, 0.616);
	color: rgb(0, 0, 0);
	max-width: 200px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 600px;

}

.grupo .inputBox input[type="submit"]:hover{
    background-image: radial-gradient(circle at 107.92% 9.44%, #7918d4 0, #1764f3 16.67%, #2891f3 33.33%, #5099fa 50%, #2891f3 66.67%, #1764f3 83.33%, #7918d4 100%);
	color: rgb(0, 0, 0);

}
.forget{
	margin-top: 40px;
	color: rgb(0, 0, 0);
}
.forget a{
color: #313de9;
font-weight: 600;
}

    
    input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    
    }
    
    input:focus{
        outline: none;
        color: #5e5d5d;
    }
    
    label{
        color: var(--colorTextos);
        font-size: 16px;
        position:absolute;
        
        left: 5px;
        top: 10px;
        transition: 0.5s ease-in-out all;
        pointer-events: none;
    }
    
    input:focus~label,
    input:valid~label{
        top: -14px;
        font-size: 12px;
        color: #2196f3;
      
    }
    
    .barra{
    position: relative;
    display: block;
    width: 100%;
    
    
    }
    .barra::before{
    
        content:"";
        height: 2px;
        width: 0%;
        bottom: 0%;
        position: absolute;
        background-image: radial-gradient(circle at 107.92% 9.44%, #7918d4 0, #1764f3 16.67%, #2891f3 33.33%, #5099fa 50%, #2891f3 66.67%, #1764f3 83.33%, #7918d4 100%);
            color: rgb(0, 0, 0);
        
        transition: 0.3s ease width;
        left: 0;
    }
    
    input:focus~.barra::before{
        
    width: 100%;
    
    }
    .warnings{
        font-family: 'arial';
    width: 300px;
    text-align: center;
    margin: auto;
    color: #ff0000;
    padding-top: 20px 0;
    
    }
    
    button{
    font-family: 'roboto';
    background-image: radial-gradient(circle at 107.92% 9.44%, #7918d4 0, #1764f3 16.67%, #2891f3 33.33%, #5099fa 50%, #2891f3 66.67%, #1764f3 83.33%, #7918d4 100%);

    border:none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    
    }
    img{

        position: fixed;
    left: 45px;
    width: 500px;
    margin-top: 0%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    }